body {
    font-family: 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    --var-width: 425px;
}

a {
    text-decoration: none;
    color: #124E8D;
}

a:visited {
    color: #124E8D;
}

b {
    font-weight: 500;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.wrapper_inner {
    background: url("img/wallpaper.jpg");
    width: var(--var-width);
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.blue {
    position: absolute;
    width: var(--var-width);
    height: 100%;
    background-color: rgba(158, 198, 253, 0.15);
}

.date {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.date_value {
    background-color: #A8B2BB;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 7px;
    border-radius: 12px;
}

.message_wrapper {
    position: relative;
}

.share_bubble {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #A8B2BB;
    padding: 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share {
    width: 14px;
    height: 14px;
}

.corner {
    width: 14px;
    height: 18px;
    position: absolute;
    bottom: -4px;
    left: -6px;
}

.message {
    padding: 0.4125rem 0.6rem 0.475rem;
    background-color: #fff;
    border-radius: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.author_wrapper {
    width: 100%;
    height: 14px;
    margin-bottom: 4px;
}

.author {
    font-size: 0.85em;
    font-weight: 500;
    color: #60BBBC;
    cursor: pointer;
}

.content_wrapper {
    margin-bottom: 2px;
}

.content {
    font-size: 0.95em;
    word-break: break-word;
}

.createdAt_wrapper {
    display: inline-flex;
    font-size: 0.7em;
    position: relative;
    bottom: -6px;
    top: auto;
    right: 0.1rem;
    color: #9B98A1;
    float: right;
    margin-left: 0.4375rem;
}

.views {
    margin-right: 5px;
}

.eye {
    margin-right: 3px;
    height: 0.80rem;
}

.admin_menu {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: lightgrey;
    color: grey;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.input_list {
    display: none;
}

.input_list.active {
    display: flex;
    flex-direction: column;
}

.input_list > input, textarea {
    margin-bottom: 10px;
}

#contentInput {
    resize: none;
    height: 120px;
}